<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>admin</title>
    <link rel="stylesheet" href="./public/css/admin.css">
    <script type="text/javascript" src="./public/js/cropper.js"></script>
  </head>
  <body>
    <div id="showROI">
      확인
    </div>
    <%- include('./roi') %>
    <script src="./public/js/admin.js"></script>
  </body>
</html>
