<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>admin</title>
    <link rel="stylesheet" href="./public/css/admin.css">
    <script type="text/javascript" src="./public/js/cropper.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <div id = "header">
      <div id="logo">
        <img src="./public/images/technonia_logo.png" id="header" />
      </div>
    </div>
    <%- include('./setting') %>
    <%- include('./roi') %>
    <script src="./public/js/admin.js"></script>
  </body>
</html>
