<div id="hidden" hidden>hidden</div>
<div id="adminROI">
  <div class="roi">
    <div class="CameraNumber">
      ROI 설정
    </div>
    <div id="roiContent">
      <div class="roiTab">
        <div class="roiCam" id="cam1">CAMERA 1</div><br/>
        <div class="roiCam" id="cam2">CAMERA 2</div>
      </div>
      <div class="roiImage">
        <div id="camera1"><img src="./config/images/1.jpeg" id="image1" class = "image"/></div>
        <div id="camera2"><img src="./config/images/2.jpeg" id="image2" class = "image"/></div>
      </div>
      <div class="button">
        <button type="button" id = "submit">확인</button>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <form class="form-horizontal" hidden>
    <div class="form-group">
      <label class="col-xs-5 control-label"><em>x</em> coordinate</label>
      <div class="col-xs-7">
        <input type="text" name="x" id="x" class="form-control" value="0">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-5 control-label"><em>y</em> coordinate</label>
      <div class="col-xs-7">
        <input type="text" name="y" id="y" class="form-control" value="0">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-5 control-label">Selected <em>width</em></label>
      <div class="col-xs-7">
        <input type="text" name="width" id="width" class="form-control" value="0">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-5 control-label">Selected <em>height</em></label>
      <div class="col-xs-7">
        <input type="text" name="height" id="height" class="form-control" value="0">
      </div>
    </div>
  </form>
  <br>
  <br>
  <form class="form-horizontal" hidden>
    <div class="form-group">
      <label class="col-xs-5 control-label"><em>x</em> coordinate</label>
      <div class="col-xs-7">
        <input type="text" name="x" id="x2" class="form-control" value="0">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-5 control-label"><em>y</em> coordinate</label>
      <div class="col-xs-7">
        <input type="text" name="y" id="y2" class="form-control" value="0">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-5 control-label">Selected <em>width</em></label>
      <div class="col-xs-7">
        <input type="text" name="width" id="width2" class="form-control" value="0">
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-5 control-label">Selected <em>height</em></label>
      <div class="col-xs-7">
        <input type="text" name="height" id="height2" class="form-control" value="0">
      </div>
    </div>
  </form>
</div>
