<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>admin</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <link rel="stylesheet" href="./public/css/basic.css">
  </head>
  <body>
    <%- include('./chart') %>
    <script src="./public/js/basic.js"></script>
  </body>
</html>
