<div id="search">
  <form action="./search" method="post" id="search">
    <input class="date" type="date" id="date_from" value="xxx" min="yyy" max="zzz">
    <input class="time" type="time" id="time_from" value="xxx">
     -
    <input class="date" type="date" id="date_to" value="xxx" min="yyy" max="zzz">
    <input class="time" type="time" id="time_to">
    <button class="submit btn" id="search_btn">검색</button>
  </form>
</div>
