body{
  background-color: #131419;
  padding: 0;
  margin:0;
}

#header {
  text-align: center;
}

#logo{
  background-color: rgba( 255, 255, 255, 0.05);
  border-radius: 0 0 15px 15px;
  padding: 25px 30px 20px 30px;
  margin-bottom: 10px;
  text-align: left;
  display: inline-block;
  width: 80%;
  min-width: 1000px;
}

/*roi section*/
#adminROI{
  text-align: center;
  width: 100%;
}
.roi{
  display: inline-block;
  width: 80%;
  padding: 25px 23px 20px 23px;
  border-radius: 0 0 20px 20px;
  border-radius: 5px;
  background-color: #26262c;
  min-width: 1000px;
  margin-top: 30px;
  color: white;
  margin-bottom: 30px;
}
.CameraNumber{
  color: white;
  display: block;
  text-align: left;
  font-size: 1.1em;
  padding-left: 8px;
  padding-top: 11px;
  font-weight: bold;
}
#roiContent {
  vertical-align: top;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  padding-top: 30px;
}
#roiTab{
  display: inline-block;
  font-size: 1.1em;
  padding: 3px 0 3px 0;
  border-radius: 3px;
  text-align: left;
  vertical-align: top;
}
#roiImage{
  display: inline-block;
  text-align: left;
}
.eachCamera{
  position: relative;
}

.blurRoi{
  position: absolute;
  border: 1px solid #f84450;
  background-color: rgba(248, 68, 80, 0.3);
  display: inline-block;
}
.button{
  display: inline-block;
  text-align: right;
  align-self: end;
}
.roiCam{
  display: inline-block;
  color: rgba( 255, 255, 255, 0.3);
  padding: 1px 15px;
  font-size: 0.8em;
  border-radius: 20px;
  border: 2px solid rgba( 255, 255, 255, 0.3);
  margin-bottom: 16px;
  cursor: pointer;
  margin-left: 8px;
}

.clickedCam{
  display: inline-block;
  color: rgba( 255, 255, 255, 0.8) !important;
  padding: 1px 15px;
  font-size: 0.8em;
  border-radius: 20px;
  border: 2px solid rgba( 255, 255, 255, 0.8) !important;
  margin-bottom: 16px;
  cursor: pointer;
  margin-left: 8px;
}

#submit{
  font-size: 15px;
  padding: 5px 40px;
  background-color: #4abd9e;
  display: inline-block;
  border-radius: 30px;
  border: none;
  margin-bottom: 10px;
}

#cancel{
  font-size: 15px;
  padding: 5px 40px;
  background-color: rgba( 255, 255, 255, 0.7);
  display: inline-block;
  border-radius: 30px;
  border: none;
  margin-bottom: 7px;
}

.cropper {
    position: relative;
    cursor: crosshair;
    margin-left: 0px;
}
.cropper-area-handle {
    width: 6px;
    height: 6px;
    background: red
}
.cropper-overlay {
    background: black;
    opacity: 0.5;
    filter: alpha(opacity = 50);
}
